[Unit]
Description=Axigen Mail Server
After=network-online.target

[Container]
ContainerName=axigen
Image=docker.io/axigen/axigen:latest
AutoUpdate=registry

Network=podz.network
PublishPort=25:25
PublishPort=465:465
PublishPort=995:995
#PublishPort=110:110
#PublishPort=143:143
#PublishPort=80:80
#PublishPort=443:443
PublishPort=9443:9443

Volume=axigen-data:/var/opt/axigen:Z

# Ensure correct permissions for data
#UserNS=keep-id

[Service]
Restart=always

[Install]
WantedBy=default.target
