[Unit]
Description=BentoPDF - Privacy-first PDF toolkit
After=network-online.target

[Container]
Image=ghcr.io/alam00000/bentopdf-simple:latest
ContainerName=bentopdf
AutoUpdate=registry
Network=podz.network

[Service]
Restart=always

[Install]
WantedBy=default.target