[Unit]
Description=Caddy
After=caddy.socket
Requires=caddy.socket

[Container]
ContainerName=caddy
Image=ghcr.io/caddybuilds/caddy-cloudflare:latest
AutoUpdate=registry
Volume=%h/etc/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy-data:/data:Z
Secret=cloudflare_api_key,type=env,target=CLOUDFLARE_API_KEY
Timezone=local
EnvironmentFile=%h/etc/caddy.env
Network=podz.network
Notify=true

[Service]
Restart=always

[Install]
WantedBy=default.target
