[Unit]
Description=Grafana Container
After=network-online.target

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:latest
AutoUpdate=registry
#Volume=grafana-storage:/var/lib/grafana
Volume=%h/data/grafana:/data:Z
#Environment=GF_SECURITY_ADMIN_PASSWORD=password
Environment=GF_INSTALL_PLUGINS=grafana-strava-datasource
Environment=GF_FEATURE_TOGGLES_ENABLE=externalServiceAccounts
Network=oci.network

[Service]
Restart=always

[Install]
WantedBy=default.target
