[Unit]
Description=Plex Media Server
After=network-online.target

[Container]
ContainerName=plexmediaserver
Image=docker.io/plexinc/pms-docker:beta
AutoUpdate=registry

PublishPort=32400:32400

Volume=plexmediaserver-config:/config:Z
Volume=plexmediaserver-transcode:/transcode:Z
Volume=/mnt/data/video:/media/video:ro
Volume=/mnt/data/music:/media/music:ro
Volume=/mnt/data/photo:/media/photo:ro

Environment=PLEX_UID=0 PLEX_GID=0
#Environment=PLEX_CLAIM="https://account.plex.tv/claim"

Timezone=local

[Service]
Restart=always

[Install]
WantedBy=default.target
