[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus:latest
AutoUpdate=registry
Volume=prometheus-data:/prometheus:Z
Volume=%h/etc/prometheus.yml:/etc/prometheus.yml:Z
Network=podz.network

[Service]
Restart=always

[Install]
WantedBy=default.target
