[Unit]
Description=Stalwart Mail Server

[Container]
ContainerName=stalwart
Image=ghcr.io/stalwartlabs/stalwart:latest
AutoUpdate=registry

Network=podz.network
## SMTP
PublishPort=25:25
PublishPort=465:465
#PublishPort=587:587
PublishPort=993:993
PublishPort=995:995
## ManageSieve
#PublishPort=4190:4190
## HTTP
#PublishPort=443:443
#PublishPort=8080:8080

Volume=stalwart-etc:/etc/stalwart:Z
Volume=stalwart-data:/var/lib/stalwart:Z

Secret=cloudflare_api_key,type=env,target=CLOUDFLARE_API_KEY

#Environment=STALWART_HTTPS_PORT=8443
#Environment=STALWART_RECOVERY_MODE=1
#Environment=STALWART_RECOVERY_ADMIN=admin:correcthorsebatterystaple

[Service]
Restart=always

[Install]
WantedBy=default.target
