[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
AutoUpdate=registry
Volume=vaultwarden-data:/data:Z
Network=podz.network

[Service]
Restart=always

[Install]
WantedBy=default.target
