[Unit]
Description=vaultwarden

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
AutoUpdate=registry
Network=podz.network
Volume=vaultwarden-data:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
